/* Main card styles */
.album-card {
	transition: all 0.3s;
	&:hover {
		@apply shadow-lg;
	}
}
/* Upper half of card */
.card-upper {
	@apply relative;
	.card-image {
		@apply rounded-t-lg;
		width: 100%;
		height: auto;
		object-fit: cover;
		filter: brightness(0.7);
		transition: all 0.7s;
		&:hover {
			filter: brightness(1);
		}
	}
	.card-title {
		@apply text-xl font-bold text-white;
		position: absolute;
		bottom: 1rem;
		left: 1rem;
	}
}
/* Lower half of card */
.card-lower {
	@apply px-4 py-4 space-y-2 bg-white rounded-b-lg;
	.card-metadata {
		@apply flex justify-between items-center;
		.date {
			@apply text-gray-400 text-sm;
		}
	}
}